*{font-family: 'Manrope', sans-serif;
    background-color: FDFAEE;
}

.marrom {
    background-color: #A7727D;
}
.menu{
    margin-left: auto;
}
.menu a{
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    color: #A7727D;
    text-align: center;
  

}
.sessao-principal img{
    margin-top: 50px;
      
}


.main-footer{
    background-color: #A7727D;
    margin-top: 80px;
}

.texto-ods{
    text-align: center;
    margin-top: 50px;
    color: black;
}


