*{font-family: 'Manrope', sans-serif;
    background-color: FDFAEE;
}

.marrom {
    background-color: #A7727D;
}
.menu{
    margin-left: auto;
}
.menu a{
    color: white;
}
.sessao-principal{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sessao-principal img{
    margin-top: 50px;
        width: 100%;
        height: auto;
      
}
.sessao-principal{
    color: #A7727D;
}

.main-footer{
    background-color: #A7727D;
    margin-top: 80px;
}

